---
import Layout from "../layouts/Layout.astro";
---

<!-- Preloader Start -->
<Layout>
  <div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-inner position-relative">
        <div class="preloader-circle"></div>
        <div class="preloader-img pere-text">
          <img src="logo.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <!-- Preloader Start -->
  <main>
    <div class="about-details section-padding30">
      <div class="container">
        <div class="row">
          <div class="offset-xl-1 col-lg-8">
            <div class="about-details-cap mb-50">
              <h4>Our Mission</h4>
              <p>
                Our mission is to provide a platform for students to share their
                voices, ideas, and experiences with the school community. We
                believe that student voice is essential to a vibrant and engaged
                learning environment, and we are committed to creating a space
                where students can feel safe and supported to share their
                thoughts and perspectives.
              </p>
              <p>
                We also want to help students connect with each other and build
                a sense of community.
              </p>
            </div>
            <div class="about-details-cap mb-50">
              <h4>Our Vision</h4>
              <p>
                Our vision is to create a student-collabrative blog that
                empowers students to share their voices, learn from each other,
                and make a difference in the world.
              </p>
              <p>
                We are creating a vibrant and inclusive community where students
                can learn, grow, and connect with each other. We believe that
                every student has something to offer, and we want to create a
                space where they can share their ideas and experiences with the
                world.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--? About Area Start-->
    <div
      class="support-company-area pt-100 pb-100 section-bg fix"
      data-background="assets/img/gallery/section_bg02.jpg"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6">
            <div class="support-location-img">
              <img src="student-council.jpeg" alt="" />
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="right-caption">
              <!-- Section Tittle -->
              <div class="section-tittles section-tittles2 mb-50">
                <span>Meet Our Team</span>
                <h2>Sunbeam Lahartara's Student Council</h2>
              </div>
              <div class="support-caption">
                <p class="pera-top">
                  We are a group of students who are passionate about making our
                  school a better place. We are committed to representing the
                  voices of all students and working to improve our school
                  community.
                </p>
                <p class="mb-65">
                  Our team is made up of students from all grades and
                  backgrounds. We are all united by our desire to make a
                  difference in our school community.
                </p>
                <a href="/about" class="btn post-btn">More About Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About Area End-->
    <!-- Team Start -->
    <div class="team-area section-padding30">
      <div class="container">
        <div class="row">
          <div class="cl-xl-7 col-lg-8 col-md-10">
            <!-- Section Tittle -->
            <div class="section-tittles mb-70">
              <span>Meet Our Team Members</span>
              <h2>Our Blog Maintainer's</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- single Tem -->
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
            <div class="single-team mb-30">
              <div class="team-img">
                <img src="assets/img/gallery/team2.png" alt="" />
              </div>
              <div class="team-caption">
                <h3><a href="#">Shubham Vishwakarma</a></h3>
                <span>Engineer</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
            <div class="single-team mb-30">
              <div class="team-img">
                <img src="assets/img/gallery/team3.png" alt="" />
              </div>
              <div class="team-caption">
                <h3><a href="#">Mrs. Khushi Srivastava</a></h3>
                <span>Activity Incharge</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
            <div class="single-team mb-30">
              <div class="team-img">
                <img src="assets/img/gallery/team1.png" alt="" />
              </div>
              <div class="team-caption">
                <h3><a href="#">Ayush Patel</a></h3>
                <span>Content Auditor</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Team End -->
    <!-- banner-last Start -->
    <!-- <div class="banner-area gray-bg pb-90">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-md-10">
            <div class="banner-one">
              <img src="assets/img/gallery/body_card3.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- banner-last End -->
  </main>

  <!-- Search model Begin -->
  <div class="search-model-box">
    <div class="d-flex align-items-center h-100 justify-content-center">
      <div class="search-close-btn">+</div>
      <form class="search-model-form">
        <input type="text" id="search-input" placeholder="Searching key....." />
      </form>
    </div>
  </div>
</Layout>
<!-- Search model end -->
