---
import Layout from "../layouts/Layout.astro";
import AllPosts from "../components/allPosts.astro";
---

<Layout title="Shakespears of Sunbeam">
  <main><div><div><AllPosts /></div></div></main>
</Layout>

<style></style>
