---
import Layout from "../layouts/Layout.astro";
import AllPosts from "../components/allPosts.astro";
---

<Layout title="Shakespears of Sunbeam">
  <main><AllPosts /></main>
</Layout>

<style></style>
