---
import Layout from "../layouts/Layout.astro";
import AllPosts from "../components/allPostsSQL.astro";
---

<Layout title="Shakespears of Sunbeam">
  <main><AllPosts /></main>
</Layout>

<style is:global>
  * {
    /* font-family: "Merriweather", serif; */
    /* font-family: "Josefin Sans", sans-serif; */
  }
</style>
