---
import mongoose from "mongoose";
import Posts from "../models/Posts";
import SideBar from "./sideBar.astro";
import SinglePost from "./SinglePostOLD.astro";
mongoose.connect("mongodb://localhost:27017/tasty_tower");

mongoose.connection.on("open", () => console.log("Connected"));

let allPosts = await Posts.find({}).limit(8);
---

<div class="main container">
  <div class="row">
    <div class="allPosts col-10">
      {allPosts.map((post) => <SinglePost postData={post} />)}
    </div>
    <div class="sidebar col-2">
      <SideBar />
    </div>
  </div>

  <style>
    /* .main {
    display: grid;
    grid-template-columns: 2fr 1fr;
  } */
    .allPosts,
    .sidebar {
      display: flex;
      flex-wrap: wrap;
    }
    .allPosts {
      justify-content: end;
    }
    .sidebar {
      justify-content: start;
    }
  </style>
</div>
