---
import mongoose from "mongoose";
import Posts from "../models/Posts";
import SinglePost from "./SinglePost.astro";
mongoose.connect("mongodb://localhost:27017/tasty_tower");

mongoose.connection.on("open", () => console.log("Connected"));

let allPosts = await Posts.find({});
---

<div>
  {allPosts.map((post) => <SinglePost post={post.post} author={post.author} />)}
</div>
