---
import mongoose from "mongoose";
import Posts from "../models/Posts";
import SideBar from "./sideBar.astro";
import SinglePost from "./SinglePost.astro";
mongoose.connect("mongodb://localhost:27017/tasty_tower");

mongoose.connection.on("open", () => console.log("Connected"));

let allPosts = await Posts.find({});
console.log(allPosts[0].author);
---

<div class="main">
  <div class="allPosts">
    {allPosts.map((post) => <SinglePost postData={post} />)}
  </div>
  <div class="sidebar">
    <SideBar />
  </div>
</div>

<style>
  .main {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .allPosts,
  .sidebar {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
  }
</style>
