---
---

<div class="header">
  <div class="social-links">
    <img src="facebook.png" width="45" />
    <img src="youtube.png" width="45" />
  </div>
  <div class="logo">
    <img src="logo.png" width="300" />
  </div>
  <div class="menu">
    <nav>
      <ul>
        <li>Home</li>
        <li>Blog</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </nav>
  </div>
  <div class="mobileMenu">
    <button><img src="youtube.png" width="20" /></button>
    <nav>
      <ul>
        <li>Home</li>
        <li>Blog</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </nav>
  </div>
</div>

<style>
  .header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #f0f0f0;
    padding: 1em;
  }
  .mobileMenu {
    display: none;
  }
  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social-links img {
    margin: 0 5px;
  }
  .logo {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu ul {
    display: flex;
  }
  .menu li {
    list-style: none;
    margin: 0 10px;
    font-size: 20px;
  }
  @media all and (max-width: 900px) {
    .social-links,
    .menu {
      display: none;
    }
    .mobileMenu {
      display: block;
    }
  }
</style>
