---
import NewsLetter from "./sideBar/Newsletter.astro";
---

<div class="sideBar">
  <div><NewsLetter /></div>
</div>

<style>
  .sideBar {
    border: 1px solid black;
    padding: 1em;
  }
</style>
