---
import NewsLetter from "./sideBar/Newsletter.astro";
import About from "./sideBar/About.astro";
---

<div class="sideBar">
  <div><NewsLetter /></div>
  <div><About /></div>
</div>

<style>
  .sideBar {
    border: 1px solid rgba(88, 85, 85, 0.116);
    padding: 1em;
    margin: 1em;
  }
</style>
