---
---

<div class="About-Container">
  <div><img /></div>
  <h1>Author</h1>
  <div>
    <p>Student Council</p>
    <p>We are Student Council Members of Sunbeam School Lahartara</p>
  </div>
</div>

<style>
  .About-Container {
    borer
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
