---
---

<div class="newsletter card">
  <div class="card-body m-3">
    <h5 class="card-title text-center">Subscribe to Amazing Content Now!</h5>
    <div class="m-3">
      <form method="POST">
        <input
          id="newsletter_Email"
          type="email"
          placeholder="abra@kadabra.com"
          required
          class="form-control"
        />
        <button type="submit" class="btn btn-primary mt-1">Submit</button>
      </form>
    </div>
  </div>
</div>

<style></style>
